In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
cbsa_df = pd.read_csv(f'/home/tflory/notebooks/InfoGroup/rurality/Relationship_Files/cbsa-county-relationships-2017.csv',usecols=['STCOU','CBSA','LSAD'])
cbsa_df.fillna('-9',inplace=True)
cbsa_df.rename(columns={'STCOU':'FIPS Code'},inplace=True)

In [ ]:
def extract_corrections(unknowns):
    """Extracts CBSA Code and appropriate CBSA Level for a list of InfoGroup FIPS Codes"""
    # Files cross-references CBSA codes and county FIPS codes.
    # Variable 'STCOU' is the 5-digit county FIPS code. The CBSA Level is inferred from the
    # text in the 'LSAD' variable.
    cbsa_df['FIPS Code'] = cbsa_df['FIPS Code'].astype(int)
    unknowns['FIPS Code'] = unknowns['FIPS Code'].astype(int)
    unk = unknowns.join(cbsa_df,on='FIPS Code',how='left',lsuffix='_l',rsuffix='_r')
    unk['CBSA Level'] = 0
    for i in unk.index:
        if str(unk.at[i,'LSAD']).find("Metropolitan") > -1:
            unk.at[i,'CBSA Level'] = 2
        elif str(unk.at[i,'LSAD']).find("Micropolitan") > -1:
            unk.at[i,'CBSA Level'] = 1
    return unk

In [ ]:
def cbsa_text(df,yr):
    df['CBSA Text'] = ''
    for i in df.index:
        if int(df.at[i,'CBSA Level']) > 0: 
            df.at[i,'CBSA Text'] = 'urban'
        elif df.at[i,'CBSA Code'] == -9 and df.at[i,'CBSA Level']==0:
            df.at[i,'CBSA Text'] = 'rural'
        elif (df.at[i,'CBSA Code']==0 and df.at[i,'CBSA Level']==0): 
            df.at[i,'CBSA Text'] = 'rural'
        elif df.at[i,'CBSA Level']==0:
            df.at[i,'CBSA Text'] = 'unknown'
        else:
            df.at[i,'CBSA Text'] = '????'
    return df

In [ ]:
for yr in range(1997,2018):
    in_fname = f'/InfoGroup/data/rurality/df_{yr}_uncorrected.csv'
    df = pd.read_csv(in_fname,dtype=object)
    df['CBSA Code'].fillna(-9,inplace=True)
    df['CBSA Level'].fillna(-9,inplace=True)
    df['CBSA Code'] = df['CBSA Code'].astype(int)
    df['CBSA Level'] = df['CBSA Level'].astype(int)
    df['FIPS Code'].fillna('00000',inplace=True)
    
    urban = df[(df['CBSA Level'] > 0)]
    urban['CBSA Text'] = 'urban'
    rural = df[(df['CBSA Code'] > 0) & (df['CBSA Level']==0)]
    rural['CBSA Text'] ='rural'
    unknown = df[(df['CBSA Code'] < 0) | ((df['CBSA Code'] == 0) & (df['CBSA Level']==0))]
    
    nrows = len(df)
    sum_of_parts = len(urban) + len(rural) + len(unknown)
    if sum_of_parts != nrows:
          print(f'{yr} Error in dividing enterprises into categories:')
          print(f'\t{nrows} != {sum_of_parts}')
        
    corrected = extract_corrections(unknown)
    corrected = cbsa_text(corrected,yr)
    corrected.drop(columns=['CBSA','FIPS Code_r','LSAD'],inplace=True)
    corrected.rename(columns={"FIPS Code_l": "FIPS Code"},inplace=True)

    print(corrected['CBSA Level'].value_counts())
    final_df = pd.concat([urban,rural,corrected],ignore_index=True)
    print(final_df['CBSA Text'].value_counts())

    out_fname = f'/InfoGroup/data/rurality/InfoGroup_final_{yr}.csv'
    df.to_csv(out_fname,index=None)

*** 1997 ***
0    794019
2      6891
1      4690
Name: CBSA Level, dtype: int64
urban    10469902
rural      794019
Name: CBSA Text, dtype: int64

*** 1998 ***
0    770262
2      6748
1      4601
Name: CBSA Level, dtype: int64
urban    10003949
rural      770262
Name: CBSA Text, dtype: int64

*** 1999 ***
0    789067
2      7062
1      4679
Name: CBSA Level, dtype: int64
urban    10230999
rural      789067
Name: CBSA Text, dtype: int64

*** 2000 ***
0    792797
2      7093
1      4798
Name: CBSA Level, dtype: int64
urban    10376479
rural      792797
Name: CBSA Text, dtype: int64

*** 2001 ***
0    903899
2      8265
1      5345
Name: CBSA Level, dtype: int64
urban    11645485
rural      903899
Name: CBSA Text, dtype: int64

*** 2002 ***
0    910425
2      8283
1      5410
Name: CBSA Level, dtype: int64
urban    11938524
rural      910425
Name: CBSA Text, dtype: int64

*** 2003 ***
0    887255
2      7966
1      5282
Name: CBSA Level, dtype: int64
urban    11768331
rural      887255
Name: CBSA Text, dtype: int64

*** 2004 ***
0    891977
2      8038
1      5278
Name: CBSA Level, dtype: int64
urban    11631985
rural      891977
Name: CBSA Text, dtype: int64

*** 2005 ***
0    926047
2      8273
1      5140
Name: CBSA Level, dtype: int64
urban    12169577
rural      926047
Name: CBSA Text, dtype: int64

*** 2006 ***
0    907950
2      8011
1      5488
Name: CBSA Level, dtype: int64
urban    12322450
rural      907950
Name: CBSA Text, dtype: int64

*** 2007 ***
0    907979
2      7926
1      5223
Name: CBSA Level, dtype: int64
urban    12674361
rural      907979
Name: CBSA Text, dtype: int64

*** 2008 ***
0    901089
2      7992
1      5036
Name: CBSA Level, dtype: int64
urban    12865095
rural      901089
Name: CBSA Text, dtype: int64

*** 2009 ***
0    886663
2      7832
1      5078
Name: CBSA Level, dtype: int64
urban    12671100
rural      886663
Name: CBSA Text, dtype: int64

*** 2010 ***
0    917199
2      7868
1      5222
Name: CBSA Level, dtype: int64
urban    12806802
rural      917199
Name: CBSA Text, dtype: int64

*** 2011 ***
0    855484
2      7249
1      4425
Name: CBSA Level, dtype: int64
urban    12511551
rural      855484
Name: CBSA Text, dtype: int64

*** 2012 ***
0    952828
2      8063
1      5605
Name: CBSA Level, dtype: int64
urban    13667676
rural      952828
Name: CBSA Text, dtype: int64

*** 2013 ***
0    989306
2      8802
1      5951
Name: CBSA Level, dtype: int64
urban    14863416
rural      989306
Name: CBSA Text, dtype: int64

*** 2014 ***
0    1005921
2       8661
1       6159
Name: CBSA Level, dtype: int64
urban    14821188
rural     1005921
Name: CBSA Text, dtype: int64

*** 2015 ***
0    964258
1      5868
2      2098
Name: CBSA Level, dtype: int64
urban    14597226
rural      964258
Name: CBSA Text, dtype: int64

*** 2016 ***
0    934480
1      5699
2      1985
Name: CBSA Level, dtype: int64
urban    14685344
rural      934480
Name: CBSA Text, dtype: int64

*** 2017 ***
0    876022
1      5513
2      1922
Name: CBSA Level, dtype: int64
urban    13857415
rural      876022
Name: CBSA Text, dtype: int64