In [1]:
import pandas as pd
df = pd.read_csv('/InfoGroup/data/original/2017_Business_Academic_QCQ_utf-8.csv',dtype=object)

In [5]:
df.columns

Index(['Company', 'Address Line 1', 'City', 'State', 'ZipCode', 'Zip4',
       'County Code', 'Area Code', 'IDCode', 'Location Employee Size Code',
       'Location Sales Volume Code', 'Primary SIC Code', 'SIC6_Descriptions',
       'Primary NAICS Code', 'NAICS8 Descriptions', 'SIC Code',
       'SIC6_Descriptions (SIC)', 'SIC Code 1', 'SIC6_Descriptions (SIC1)',
       'SIC Code 2', 'SIC6_Descriptions(SIC2)', 'SIC Code 3',
       'SIC6_Descriptions(SIC3)', 'SIC Code 4', 'SIC6_Descriptions(SIC4)',
       'Archive Version Year', 'Yellow Page Code',
       'Employee Size (5) - Location', 'Sales Volume (9) - Location',
       'Business Status Code', 'Industry Specific First Byte',
       'Year Established', 'Office Size Code', 'Company Holding Status', 'ABI',
       'Subsidiary Number', 'Parent Number', 'Parent Actual Employee Size',
       'Parent Actual Sales Volume', 'Parent Employee Size Code',
       'Parent Sales Volume Code', 'Site Number', 'Address Type Indicator',
       'Population Code', 'Census Tract', 'Census Block', 'Latitude',
       'Longitude', 'Match Code', 'CBSA Code', 'CBSA Level', 'CSA Code',
       'FIPS Code', 'Gender'],
      dtype='object')

In [2]:
df['CBSA Level'].value_counts()

2    12527396
1     1322584
Name: CBSA Level, dtype: int64

In [3]:
len(df[df['CBSA Level'].isnull()])

977172

In [8]:
df[['County Code','FIPS Code','ZipCode','Zip4','Area Code','CSA Code','CBSA Code']].head()

  County Code FIPS Code ZipCode  Zip4 Area Code CSA Code CBSA Code
0         001     72001   00601   NaN       939      000     00000
1         001     72001   00601  2142       787      000     00000
2         001     72001   00601  2232       787      000     00000
3         001     72001   00601   NaN       787      000     00000
4         001     72001   00601  2337       787      000     00000

In [9]:
dfx = pd.read_csv('/InfoGroup/data/rurality/InfoGroup_2017_step3.csv',dtype=object)

In [10]:
dfx.columns

Index(['Company', 'Address Line 1', 'City', 'State', 'ZipCode', 'Zip4',
       'County Code', 'Area Code', 'IDCode', 'Location Employee Size Code',
       'Location Sales Volume Code', 'Primary SIC Code', 'SIC6_Descriptions',
       'Primary NAICS Code', 'NAICS8 Descriptions', 'SIC Code',
       'SIC6_Descriptions (SIC)', 'SIC Code 1', 'SIC6_Descriptions (SIC1)',
       'SIC Code 2', 'SIC6_Descriptions(SIC2)', 'SIC Code 3',
       'SIC6_Descriptions(SIC3)', 'SIC Code 4', 'SIC6_Descriptions(SIC4)',
       'Archive Version Year', 'Yellow Page Code',
       'Employee Size (5) - Location', 'Sales Volume (9) - Location',
       'Business Status Code', 'Industry Specific First Byte',
       'Year Established', 'Office Size Code', 'Company Holding Status', 'ABI',
       'Subsidiary Number', 'Parent Number', 'Parent Actual Employee Size',
       'Parent Actual Sales Volume', 'Parent Employee Size Code',
       'Parent Sales Volume Code', 'Site Number', 'Address Type Indicator',
       'Population Code', 'Census Tract', 'Census Block', 'Latitude',
       'Longitude', 'Match Code', 'CBSA Code', 'CBSA Level', 'CSA Code',
       'FIPS Code', 'UA Code', 'UA Type', 'Full Census Tract', 'rural_by_UA',
       'rural_HRSA', 'far1', 'far2', 'far3', 'far4', 'FAR Level',
       'rural_tract'],
      dtype='object')

In [11]:
dfx['UA Type'].value_counts()

Urban Cluster     7480232
Urbanized Area    5562183
Name: UA Type, dtype: int64

In [12]:
len(df[dfx['UA Type'].isnull()])

1784737